.header {text-align: center;
 
}

body {
  
  background-image: url("");
  background-color: #FFFBEE;
  background-position: center;
  background-size: cover;
  font-family: Calibri, Arial, Helvetica;
  margin: 10% 15%;
}

.exp-header {
  
  text-align: center;
  text-transform: uppercase;
  border-style: outset;  
  border: 2px solid;
  border-radius: 7px;
 
}


.footer {
  text-align: center;
  text-transform: uppercase;
  border-style: outset;
  border: 2px solid;
  border-radius: 7px;

}
  

 
